<!DOCTYPE html>
<html>
<head>
    <div>
        <div>登录系统</div>
        <form action="loginPage" method="post">
            <table>
                <tr>
                    <td>用户名：</td>
                    <td><input type="text" name="studentId" ></input></td>
                </tr>

                <tr>
                    <td>密码：</td>
                    <td><input type="text" name="studentName" ></input></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" name="submit" ></button></td>
                </tr>
            </table>
        </form>
    </div>
</head>
</html>